.product .orange{
    background-image: url(../images/Workingroom_bg.png) !important;
}
.top_banner .text-big{
    margin-top: 40px;
}
.lan_top .active{
    color:#fb0;
    font-weight: bold;
}
.select-aura, .select-aura:hover{
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
    font-size: 18px;
}
.contain_subscribe--form button img{
    cursor: pointer;
}
.form_info_account .field_item button{
    background: #fb0;
    color: #000;
    font-size: 16px;
}
.btn-register{
    background: #00adee !important;
    color:#fff !important;
}
.social_btn{
    font-size: 16px;
}
.log-out{
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    background: #00adee;
    color: #fff;
    padding: 5px 0;
    height: 35px;
    width: 90px;
    border-radius: 21px;
    font-size: 18px;
    text-align: center;
}
.hidden{
    display: none;
}
.btn-dp{
    font-size:16px !important;
    width:120px !important;
}
.contain_banner_link .links_box .item{
    font-size:28px !important;
}
/*homepage*/
.contain_subscribe--form input{
    font-size: 20px;
    padding: 10px 50px;
}
.navbar-mobile .navbar-toggler .navbar-toggler-icon{
    width: 35px;
}
.navbar-brand img{
    width: 120px;
}
/*Mobile*/
/*menu*/
.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #007bff;
    overflow-x: hidden;
    /*transition: 0.5s;*/
    padding-top: 60px;
    display: none;
    background-image: url(../images/bh-menu-mobile.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.sidenav a {
    text-decoration: none;
    font-size: 23px;
    color: #fff !important;
    display: block;
    transition: 0.3s;
    text-align: left;
}
.sidenav .dropdown{
    margin-top: 30px;
}
.sidenav .nav-item{
    position: relative;
    display: block;
    padding: 5px 25px;
    cursor: pointer;
}
.sidenav .nav-item:before{
    content: "";
    border-top: 2px solid #000;
    max-width: 320px;
    height: 8px;
    display: block;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 20px;
    left: 5px;
    font-size: 25px;
    color: #fff !important;
}
.sidenav .navbar-brand img{
    width: 120px;
    margin-top: -52px;
    left: 58px;
    display: block;
    position: relative;
}
.sidenav .item-info-foo:first-child{
    width: 40%;
    text-align: left;
}
.sidenav .item-info-foo:first-child a{
    color:#000 !important;
}
.sidenav .item-info-foo:last-child{
    width: 60%;
    text-align: left;
}
.sidenav .item-info-foo a{
    font-size: 13px;
    padding: 5px 0;
    color:#000;
}
.sidenav .fab {
    font-size: 35px !important;
    text-align: left;
    right: 50px;
    position: relative;
    padding: 0 5px !important;
}
.social_box{
    display: flex;
    justify-content: space-between;
}
.social_box .lan_top{
    padding: 20px 30px;
}
.contain_banner_link .links_box .item{
    background-color: #fff;
}
.btn-dp:hover{
    background: #fb0;
}
.contain_stay--box-small img{
    width: 65px;
    height: 65px;
    object-fit: contain;
}
.slogan_item .title{
    font-size: 20px;
    font-weight: 600;
}
/*About Us*/
.box_about_top h2{
    font-size: 1.75rem;
}
.list_user_about .item{
    width: 100%;
}
.list_user_about {
    position: relative;    
}
.list_user_about .owl-buttons{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}
.list_user_about .owl-prev, .owl-next {
    position: absolute;
    height: 30px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;    
}
.list_user_about .owl-prev i, .list_user_about .owl-next i {
    font-size: 20px;
    color: #fb0;
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}
.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
}
/*Co-Living*/
.isMobile .box-living-mobile{
    background-image: url(../images/bg-living-mobile.png);
}
.isDesktop .carousel_content{
    background-size: 100% 80%;
}
.carousel_content .owl-buttons{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.carousel_content .owl-prev, .carousel_content .owl-next {
    position: absolute;
    z-index: 100;   
    background:none !important;
}
.carousel_content .prev{
    display: none !important;
}
.carousel_content .next{
    background-image: url(../images/arr_link.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 27px;
    background-color: #fff !important;
    width: 35px;
    opacity: 1;
}
.carousel_content .owl-next{
    right: -50px;
    top: -3px;
}

/*Co-Working*/

.isMobile .box-event-mobile{
    background-image: url(../images/bg-event-mobile.png);
}

.isMobile .box-working-mobile{
    background-image: url(../images/bg-working-mobile.png);
}
.carousel_content_full{
    background-size: 120% 85% !important;
}
/*Footer*/
.box_animate_foo{
    width: 50%;
}
.box_animate_foo .pos-relative{
    height: 320px;
}

/*Loading*/
/*Loging*/
body.loaded .loading_page {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -10000;
}
.loading_page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(6,30,25,.95);
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s linear;
}
.loading_page .bg_img {
    width: 177px;
}
.loading_page .bg_img {
    width: 185px;
    height: 75px;
    background: url(../images/icon-loading.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
}

/* ScrollToTop */
.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
    cursor: pointer;
    z-index: 99999;
}
.back-to-top i {
    display: block;
    font-size: 18px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background-color:#fb0;
    border-radius: 0px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media (max-width: 575px){
    .slogan_item .img {
        height: auto;
        width: 60%;
        margin-left: 4rem;
        margin-bottom: 15px;
    }
    .footerMobile .item-info-foo {
        text-align: right;
        top: 20px;
        position: relative;
        font-size: 35px;
    }
    .footer_page {
        height: 310px;
    }
    .box_animate_foo .pos-relative{
        height: 240px;
    }
    .caption_banner {
        top:70px;
    }
    .content_about_slogan .box-info{
        width: auto;
    }
    .navbar-mobile .dropdown-menu{
        background: none;
        box-shadow:none;
    }
    .sidenav .nav-item:last-child{
        margin-bottom: 20px;

    }
    .sidenav .nav-item:last-child:after{
        display: block;
        content: '';
        border-bottom: 2px solid #000;
    }
    .carousel_content{
        background-size: 120% 65%;
    }
    .pic_inner img{
        clip-path: polygon(10% 0, 100% 0, 100% 80%, 30% 100%);
    }
    .list_contain_slogan .carousel_home .contain-item .pic_inner{
        padding-top: 90%;
    }
    .embed-responsive{
        height: 530px;
    }
    .my-5, .mt-5, .pt-5{
        margin-top:0px !important;
        margin-bottom:0 !important;
    }
    .carousel_content .owl-prev, .carousel_content .owl-next{
        opacity: 1 !important;
    }
}
@media (max-width: 767px){
   .nav-tabs-aura .nav-item {
    width: auto;
} 
}

@media (max-width: 991px){
    .contain_links_visit .box-coming .drs {
        width: 100%;
    }
}
