.orange{
    background-image: url(../images/Workingroom_bg.png) !important;
}
.carousel_content{
    background-size: contain;
}
.top_banner .text-big{
    margin-top: 40px;
}
.lan_top .active{
    color:#fb0;
    font-weight: bold;
}
.select-aura, .select-aura:hover{
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
    font-size: 18px;
}
.contain_subscribe--form button img{
    cursor: pointer;
}