description = "Asset url sync"
==
<script src="{{ [
    'assets/js/jquery.min.js',
    'assets/editor/js/wysihtml5-0.3.0_rc2.js',
    'assets/editor/js/bootstrap-wysihtml5-0.0.2.js',
    'assets/editor/videojs/videojs-ie8.min.js',
    'assets/editor/js/jquery-migrate-1.2.1.min.js',
    'assets/js/jquery.validate.min.js',
    'assets/js/selectize.js',
    'assets/js/jScrollPane.js',
    'assets/js/jquery.mousewheel.js',
    'assets/js/SelectBox.js',
    'assets/js/slick.min.js',
    'assets/js/filereader.js',
    'assets/js/bootstrap.min.js',
    'assets/js/sonic.js',
    'assets/js/cropper.min.js',
    'assets/js/jquery.cropbox.js',
    'assets/js/jquery.slimscroll.js',
    'assets/js/start.js',
    'assets/js/e.ui.js',
    'assets/js/jquery.elastic.source.js',
    'assets/js/start.h.js'
]|theme }}"></script>
<script src="{{ 'assets/ckeditor/ckeditor.js'|theme }}"></script>
<!--[if lt IE 9]>
	<script src="{{ 'assets/js/html5shiv.js'|theme }}"></script>
  	<script src="{{ 'assets/js/respond.min.js'|theme }}"></script>
<![endif]-->
</div>
{% framework extras %}
{% scripts %}