description = "Header of layout"
[lang]
==
<div class="container">
    <div class="lan_top">
        <a href="/en" class="lan_item {{language == 'en'?'active':''}}">en</a>
        <a href="/vn" class="lan_item {{language == 'vn'?'active':''}}">vi</a>
    </div>
</div>

<div class="topbar">
    <div class="container">
        <div class="d-flex justify-content-between topbar--container">
            <h1 class="logo flex-shrink-1">
                <a href="/{{language}}">
                    <img src="{{ 'assets/images/Logo.png'|theme }}" alt=""/>
                </a>
            </h1>            
            <div class="d-flex nav_right">
                <ul class="d-flex align-items-center list-nav-menu">
                    {% for menu in menuList %}
                    <li class="nav_item">
                        <a href="/{{language}}/{{menu.link}}" class="link_item {{this.page.tab == menu.lang(language).title?'active':''}}">{{menu.lang(language).title}}</a>
                        {{menu.id|getChildrenMenu}}
                    </li>                                        
                    {% endfor %}
                    <li>
                        <a href="/{{language}}/dat-phong" class="link_order_room">
                            <!--Đặt Phòng-->
                            <img src="{{ 'assets/images/btn_dp.png'|theme }}" alt=""/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>